/ClassDiagram1.cd
/ClassDiagram11.cd
/ClassDiagram11.png
/Library/metadata/00/00000000000000006100000000000000
/ProjectSettings/GraphicsSettings.asset
/cubetris-csharp.sln.docstates.suo
/cubetris-csharp.suo
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
